# =========================
# Compiled binaries
# =========================
a.out
*.out
*.exe

# =========================
# Object files
# =========================
*.o

# =========================
# Debug symbols (macOS)
# =========================
*.dSYM/
*.dSYM.zip

# =========================
# Editor / OS junk
# =========================
.DS_Store
*~
*.swp
*.swo

